/*Books*/

.books{
  margin-top: 140px;
  padding-bottom: 40px;
  background-color: #e7e6e6;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
  0 10px 10px rgba(0,0,0,0.22);
}

.book__title_main{
  display: block;
  margin-top: 40px;
  margin-bottom: 80px;
  text-align: center;
  color: #4a2d08;
  font-weight: 700;
  font-size: 35px;
}

.book__intro__title{
  display: block;
}

.book__intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book__title{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $brown_white;
  font-size: 20px;
}

.book__list ul{}

li{
  color: $brown_white;
}

p{
  color: $chrom;
  font-size: 18px;
}

@media (max-width: 994px) {
  .books{
    margin-top: 90px;
  }

  .book__title_main{
    font-size: 30px;
  }
}

@media (max-width: 545px) {
  .book__title_main{
    margin-top: 35px;
    margin-bottom: 40px;
    font-size: 28px;
  }

  .book__title {
    font-size: 18px;
  }

  .book__list_item p{
    font-size: 15px;
  }
}

@media (max-width: 420px) {
  .book__title_main{
    margin-top: 35px;
    margin-bottom: 40px;
    font-size: 24px;
  }
}