/*Footer*/

.page-footer {
  padding-top: 40px;
  background-color: $chrom;
}

.white-text-email {
  color: $black_br !important;
}

.grey-text.text-lighten-4 {
  padding-top: 20px;
  color: $black_br !important;
}