/*Intro*/

.intro {
  margin-top: 40px;
  margin-bottom: 80px;
}

.intro__container {
  background-color: #c4c4c6;
}

.intro__image {
  margin-top: 15px;
  margin-bottom: 15px;
}

.intro__image__photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.intro__text {
  margin-top: 15px;
  color: #534540;
}

.intro__social {
  display: flex;
  text-align: justify;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.intro__social__vk {
  display: flex;
  padding-right: 2rem;
}

.intro__social__vk:hover {
  color: #1E88E5;
  transition: color .2s linear;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.intro__social__instagram {
  display: flex;
  padding-right: 2rem;
}

.intro__social__instagram:hover {
  color: #ec174c;
  transition: color .2s linear;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.intro__social__facebook {
  display: flex;
  padding-right: 2rem;
}

.intro__social__facebook:hover {
  color: #3f51b5;
  transition: color .2s linear;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.intro__social__telegram {
  display: flex;
  padding-right: 2rem;
}

.intro__social__telegram:hover {
  color: #039be5;
  transition: color .2s linear;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.intro__social__whatsapp {
  display: flex;
  padding-right: 2rem;
}

.intro__social__whatsapp:hover {
  color: #00C853;
  transition: color .2s linear;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

span {
  font-size: 15px;
}