/*navbar*/

nav {
  background-color: #ab9c8a;
}

nav a {
  color: #1d0f0b;
}

.sidenav {
  background-color: #ab9c8a;
  width: 180px!important;
}

nav ul a {
  color: #1d0f0b;
  font-weight: 700;
  font-size: 15px;
}