/*service*/
.rec__title {
  margin-top: 80px;
  text-align: center;
  color: #4a2d08;
  font-weight: 700;
  font-size: 38px;
}

.rec__reason {
  color: #a85c08;
  font-size: 18px;
}

.rec__subtitle {
  margin-top: 60px;
  text-align: center;
  color: #4a2d08;
  font-weight: 700;
  font-size: 38px;
}

.rec__add {
  color: #a85c08;
  font-size: 18px;
}