/*Title*/

.title {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.title__name {
  text-align: center;
  color: #4a2d08;
  font-weight: 700;
  font-size: 38px;
}

.title__prof {
  text-align: center;
  color: #a85c08;
  font-size: 18px;
}

.title__subtitle {
  text-align: center;
  color: #4a2d08;
  font-size: 30px;
}