<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="footer-title">E-mail: v.a.pashkevich@mail.ru</h3>
            </div>
            <div class="col-md-12 footer-subtitle">
                Телефон: +375 (29) 112 41 56
            </div>
        </div>
    </div>
    <div class="footer-down">
        <div class="container">
            <div class="col-md-12 footer-item-down">
                Copyright © 2020. ChadoFoto. All Rights Reserved. Made
                by Filipp Pashkevich
            </div>
        </div>
    </div>
</footer>