<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a href="index.html" class="header__logo">
                    <img src="../../assets/img/logopage.png" alt="logopage">
                </a>
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li>
                            <a href="index.html" class="header__link"><span>01.</span>Обо мне</a>
                        </li>
                        <li>
                            <a href="services.html" class="header__link"><span>02.</span>Услуги</a>
                        </li>
                        <li>
                            <a href="portfolio.html" class="header__link"><span>03.</span>Портфолио</a>
                        </li>
                        <li>
                            <a href="books.html" class="header__link"><span>04.</span>Фотокниги</a>
                        </li>
                        <li>
                            <a href="blog.html" class="header__link"><span>05.</span>Блог</a>
                        </li>
                        <li>
                            <a href="projects.html" class="header__link"><span>06.</span>Проекты</a>
                        </li>
                        <li>
                            <a href="contacts.html" class="header__link"><span>07.</span>Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</div>
