<meta charset="UTF-8">
<link rel="shortcut icon" type="image/png" href="../../assets/img/logopage.png">
<link href="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
<link rel="icon" href="https://example.com/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="assets/css/style.min.css">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- Useful meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="yandex-verification" content="56bf4dfcb6bb3ab3" />
<meta name="google-site-verification" content="Z3Romn7RMAabYRMN42TMuTgRP2C-tS8jwjPsBoVCx7w" />
<meta name="robots" content="index, follow, noodp">
<meta name="googlebot" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content="фотограф на крещение,
            фотограф на венчание, крещение барановичи, венчание барановичи, крещение ребенка барановичи,
            фотосъемка крестин в барановичах, фотосъемка крестин барановичи, крестины барановичи,
            крещение ребенка, крещение взрослого, подготовка к крещению, храм александра невского барановичи,
            храм жен мироносиц барановичи, храм валентины минской барановичи, храм георгия победоносца барановичи,
            покровский собор барановичи, фотограф виктория пашкевич, крещение младенца барановичи, крещение фотограф">
<meta name="description" content="Виктория Пашкевич. Фотограф на Таинства крещения и венчания. Семейный и детский фотограф. Работаю в Барановичах, Минске и по Беларуси.">
<meta name="Author" content="Виктория Пашкевич">
<meta name="Copyright" content="Все права защищены">

<title>{{ title }}</title>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(67482481, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/67482481" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-178483953-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-178483953-1');
</script>
