<meta charset="UTF-8">
<link rel="shortcut icon" type="image/png" href="src/assets/img/Logo.png">
<link href="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap" rel="stylesheet">
<!--css-->
<link rel="stylesheet" href="/assets/css/style.scss">
<!--Useful meta tags-->
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="keywords" content="">
<meta name="description" content="">

<title>{{title}}</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>