<!-- Modals -->
<div class="modal fade" id="request-modal-family" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="modal__close" data-dismiss="modal" aria-label="Close">
                <svg class="modal__close-icon">
                    <use xlink:href="#close"></use>
                </svg>
            </button>
            <div class="modal__title">
                <h2>Семейная съёмка. Стоимость услуг</h2>
            </div>
            <div class="modal__text">
                <h3 class="modal__text__tit">"Семья. Экспресс"</h3>
                <ul class="modal__service">
                    <li class="modal__service__tit">10 фотографий в авторской и художественной обработке (ретуши)</li>
                    <li class="modal__service__tit">адаптированные копии для публикации в соц.сетях и др. месседжерах</li>
                    <li class="modal__service__tit">передачу фото через файлообменник</li>
                    <li class="modal__service__tit">срок готовности до 2-х недель</li>
                </ul>
                <h3 class="modal__price">Стоимость (Барановичи):</h3>
                <p class="modal__price__amount"><b>100 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>130 бел.руб</b> - конфидициональная съёмка</p>
                <h3 class="modal__price">Стоимость (Минск):</h3>
                <p class="modal__price__amount"><b>150 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>180 бел.руб</b> - конфидициональная съёмка</p>

                <h3 class="modal__text__tit">"Семья. Базовый"</h3>
                <ul class="modal__service">
                    <li class="modal__service__tit">15 фотографий в авторской и художественной обработке (ретуши)</li>
                    <li class="modal__service__tit">адаптированные копии для публикации в соц.сетях и др. месседжерах</li>
                    <li class="modal__service__tit">20 фотографий в первичной обработке и цветокоррекции</li>
                    <li class="modal__service__tit">передачу фото через файлообменник</li>
                    <li class="modal__service__tit">срок готовности до 4-х недель</li>
                </ul>
                <h3 class="modal__price">Стоимость (Барановичи):</h3>
                <p class="modal__price__amount"><b>150 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>180 бел.руб</b> - конфидициональная съёмка</p>
                <h3 class="modal__price">Стоимость (Минск):</h3>
                <p class="modal__price__amount"><b>200 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>230 бел.руб</b> - конфидициональная съёмка</p>

                <h3 class="modal__text__tit">"Семья. Стандарт"</h3>
                <ul class="modal__service">
                    <li class="modal__service__tit">20 фотографий в авторской и художественной обработке (ретуши)</li>
                    <li class="modal__service__tit">адаптированные копии для публикации в соц.сетях и др. месседжерах</li>
                    <li class="modal__service__tit">ВСЕ удачные фотографии в первичной обработке и цветокоррекции</li>
                    <li class="modal__service__tit">запись фотографий на flash-карту</li>
                    <li class="modal__service__tit">печать 5 фотографий форматом 21х15 см</li>
                    <li class="modal__service__tit">фотокнигу 30х20 см либо 26х26 на 10 разворотов в глянцевой обложке с матовой печатью</li>
                    <li class="modal__service__tit">срок готовности до 6-и недель</li>
                </ul>
                <h3 class="modal__price">Стоимость (Барановичи):</h3>
                <p class="modal__price__amount"><b>300 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>330 бел.руб</b> - конфидициональная съёмка</p>
                <h3 class="modal__price">Стоимость (Минск):</h3>
                <p class="modal__price__amount"><b>350 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>380 бел.руб</b> - конфидициональная съёмка</p>

                <h3 class="modal__text__tit">"Семья. Премиум"</h3>
                <ul class="modal__service">
                    <li class="modal__service__tit">35 фотографий в авторской и художественной обработке (ретуши)</li>
                    <li class="modal__service__tit">адаптированные копии для публикации в соц.сетях и др. месседжерах</li>
                    <li class="modal__service__tit">ВСЕ удачные фотографии в первичной обработке и цветокоррекции</li>
                    <li class="modal__service__tit">запись фотографий на flash-карту</li>
                    <li class="modal__service__tit">печать 10 фотографий форматом 21х15 см</li>
                    <li class="modal__service__tit">оформление 1 фото в рамку</li>
                    <li class="modal__service__tit">фотокнигу 30х20 см либо 26х26 на 15 разворотов в глянцевой обложке с матовой печатью</li>
                    <li class="modal__service__tit">срок готовности до 6-и недель</li>
                </ul>
                <h3 class="modal__price">Стоимость (Барановичи):</h3>
                <p class="modal__price__amount"><b>550 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>580 бел.руб</b> - конфидициональная съёмка</p>
                <h3 class="modal__price">Стоимость (Минск):</h3>
                <p class="modal__price__amount"><b>600 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>630 бел.руб</b> - конфидициональная съёмка</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Закрыть окно</button>
            </div>

        </div><!--modal-content -->
    </div><!-- /.modal-dialog -->
</div> <!-- /.modal -->

<div class="modal fade" id="request-modal-orth" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="modal__close" data-dismiss="modal" aria-label="Close">
                <svg class="modal__close-icon">
                    <use xlink:href="#close"></use>
                </svg>
            </button>
            <div class="modal__title">
                <h2>Съёмка Крещения. Стоимость услуг</h2>
            </div>
            <div class="modal__text">
                <h3 class="modal__text__tit">"Крещение. Базовый"</h3>
                <ul class="modal__service">
                    <li class="modal__service__tit">50 фотографий, из них 15 фотографий в авторской и художественной обработке (ретуши)</li>
                    <li class="modal__service__tit">35 фотографий в первичной обработке и цветокоррекции</li>
                    <li class="modal__service__tit">адаптированные  копии для публикации в соц.сетях/отправке в «Вайбере» и др. мессенджерах</li>
                    <li class="modal__service__tit">передачу фото через файлообменник</li>
                    <li class="modal__service__tit">постановочные кадры в храме «мама и малыш», «мама, папа и малыш», «крёстные и малыш»;
                        без съёмки на улице (возможно несколько фото на телефон, передача последних  в этот же день)</li>
                    <li class="modal__service__tit">срок готовности до 4-х недель</li>
                </ul>
                <h3 class="modal__price">Стоимость (Барановичи/Жлобин):</h3>
                <p class="modal__price__amount"><b>140 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>170 бел.руб</b> - конфидициональная съёмка</p>
                <h3 class="modal__price">Стоимость (Минск):</h3>
                <p class="modal__price__amount"><b>180 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>210 бел.руб</b> - конфидициональная съёмка</p>

                <h3 class="modal__text__tit">"Крещение. Стандарт"</h3>
                <ul class="modal__service">
                    <li class="modal__service__tit">75+ фотографий, из них
                        25 фотографий в авторской художественной обработке (ретуши);
                        50+ фотографий в первичной обработке и цветокоррекции
                    </li>
                    <li class="modal__service__tit">адаптированные  копии для публикации в соц.сетях/отправке в «Вайбере» и др. мессенджерах</li>
                    <li class="modal__service__tit">запись фотографий на flash-карту</li>
                    <li class="modal__service__tit">печать 5 фотографий форматом 20х15 см</li>
                    <li class="modal__service__tit">фотокнигу 30x20 см на 8 разворотов в глянцевой обложке с матовой печатью</li>
                    <li class="modal__service__tit">постановочные кадры в храме «мама и малыш», «мама, папа и малыш»,
                        «крёстные и малыш», «дедушка, бабушка и малыш», родственники и малыш + общее фото; съёмка на улице 15-20 мин.</li>
                    <li class="modal__service__tit">срок готовности до 6-и недель</li>
                </ul>
                <h3 class="modal__price">Стоимость (Барановичи/Жлобин):</h3>
                <p class="modal__price__amount"><b>250 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>280 бел.руб</b> - конфидициональная съёмка</p>
                <h3 class="modal__price">Стоимость (Минск):</h3>
                <p class="modal__price__amount"><b>290 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>320 бел.руб</b> - конфидициональная съёмка</p>

                <h3 class="modal__text__tit">"Крещение. Премиум"</h3>
                <ul class="modal__service">
                    <li class="modal__service__tit">120+ фотографии, из них
                        30 фотографий в авторской художественной обработке (ретуши);
                        80+ фотографий в первичной обработке и цветокоррекции
                    </li>
                    <li class="modal__service__tit">адаптированные копии для публикации в соц.сетях и др. месседжерах</li>
                    <li class="modal__service__tit">запись фотографий на flash-карту</li>
                    <li class="modal__service__tit">печать 10 фотографий форматом 21х15 см</li>
                    <li class="modal__service__tit">оформление 1 фото в рамку</li>
                    <li class="modal__service__tit">фотокнигу 30x20 см на 15 разворотов с шёлковой печатью фотографий в тканевой/обложке из кожзама</li>
                    <li class="modal__service__tit">постановочные кадры в храме «мама и малыш», «мама, папа и малыш»,
                        «крёстные и малыш», «дедушка, бабушка и малыш», родственники и малыш + общее фото. Съёмка  на
                        улице 30 мин. Возможен выезд домой для съёмки сборов в храм (30 мин).</li>
                </ul>
                <h3 class="modal__price">Стоимость (Барановичи/Жлобин):</h3>
                <p class="modal__price__amount"><b>550 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>580 бел.руб</b> - конфидициональная съёмка</p>
                <h3 class="modal__price">Стоимость (Минск):</h3>
                <p class="modal__price__amount"><b>600 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>630 бел.руб</b> - конфидициональная съёмка</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Закрыть окно</button>
            </div>

        </div><!--modal-content -->
    </div><!-- /.modal-dialog -->
</div> <!-- /.modal -->

<div class="modal fade" id="request-modal-wedding" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="modal__close" data-dismiss="modal" aria-label="Close">
                <svg class="modal__close-icon">
                    <use xlink:href="#close"></use>
                </svg>
            </button>
            <div class="modal__title">
                <h2>Съёмка Венчания. Стоимость услуг</h2>
            </div>
            <div class="modal__text">
                <h3 class="modal__text__tit">"Венчание. Базовый"</h3>
                <ul class="modal__service">
                    <li class="modal__service__tit">50 фотографий, из них
                        15 фотографий в авторской художественной обработке (ретуши),
                        35 фотографий в первичной обработке и цветокоррекции
                    </li>
                    <li class="modal__service__tit">адаптированные  копии для публикации в соц.сетях/отправке в «Вайбере» и др. мессенджерах</li>
                    <li class="modal__service__tit">передачу фото через файлообменник</li>
                    <li class="modal__service__tit">съёмка в храме (без улицы). Съёмка пары, съёмка пары с родственниками (возможно несколько
                        фото на телефон, передача в этот же день)</li>
                    <li class="modal__service__tit">срок готовности до 4-х недель</li>
                </ul>
                <h3 class="modal__price">Стоимость (Барановичи/Жлобин):</h3>
                <p class="modal__price__amount"><b>140 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>170 бел.руб</b> - конфидициональная съёмка</p>
                <h3 class="modal__price">Стоимость (Минск):</h3>
                <p class="modal__price__amount"><b>180 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>210 бел.руб</b> - конфидициональная съёмка</p>

                <h3 class="modal__text__tit">"Венчание. Стандарт"</h3>
                <ul class="modal__service">
                    <li class="modal__service__tit">75+ фотографий, из них
                        25 фотографий в авторской художественной обработке (ретуши);
                        50+ фотографий в первичной обработке и цветокоррекции
                    </li>
                    <li class="modal__service__tit">адаптированные  копии для публикации в соц.сетях/отправке в «Вайбере» и др. мессенджерах</li>
                    <li class="modal__service__tit">запись фотографий на flash-карту</li>
                    <li class="modal__service__tit">печать 5 фотографий форматом 20х15 см</li>
                    <li class="modal__service__tit">фотокнигу 30x20 см на 8 разворотов в глянцевой обложке с матовой печатью</li>
                    <li class="modal__service__tit">постановочные кадры в храме  пары, отдельно жениха и невесты, пары с родственниками
                        + общее фото; съёмка на улице 15-20 мин.</li>
                    <li class="modal__service__tit">срок готовности до 6-и недель</li>
                </ul>
                <h3 class="modal__price">Стоимость (Барановичи/Жлобин):</h3>
                <p class="modal__price__amount"><b>250 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>280 бел.руб</b> - конфидициональная съёмка</p>
                <h3 class="modal__price">Стоимость (Минск):</h3>
                <p class="modal__price__amount"><b>290 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>320 бел.руб</b> - конфидициональная съёмка</p>

                <h3 class="modal__text__tit">"Венчание. Премиум"</h3>
                <ul class="modal__service">
                    <li class="modal__service__tit">120+ фотографии, из них
                        30 фотографий в авторской художественной обработке (ретуши);
                        80+ фотографий в первичной обработке и цветокоррекции
                    </li>
                    <li class="modal__service__tit">адаптированные копии для публикации в соц.сетях и др. месседжерах</li>
                    <li class="modal__service__tit">запись фотографий на flash-карту</li>
                    <li class="modal__service__tit">печать 10 фотографий форматом 21х15 см</li>
                    <li class="modal__service__tit">оформление 1 фото в рамку</li>
                    <li class="modal__service__tit">фотокнигу 30x20 см на 15 разворотов с шёлковой печатью фотографий в тканевой/обложке из кожзама</li>
                    <li class="modal__service__tit">постановочные кадры в храме  пары, отдельно жениха и невесты, пары с родственниками + общее фото;
                        съёмка на улице 30 мин. Возможен выезд домой для съёмки сборов в храм (30 мин).</li>
                </ul>
                <h3 class="modal__price">Стоимость (Барановичи/Жлобин):</h3>
                <p class="modal__price__amount"><b>550 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>580 бел.руб</b> - конфидициональная съёмка</p>
                <h3 class="modal__price">Стоимость (Минск):</h3>
                <p class="modal__price__amount"><b>600 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>630 бел.руб</b> - конфидициональная съёмка</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Закрыть окно</button>
            </div>

        </div><!--modal-content -->
    </div><!-- /.modal-dialog -->
</div> <!-- /.modal -->

<div class="modal fade" id="request-modal-waiting" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="modal__close" data-dismiss="modal" aria-label="Close">
                <svg class="modal__close-icon">
                    <use xlink:href="#close"></use>
                </svg>
            </button>
            <div class="modal__title">
                <h2>Съёмка "В ожидании". Стоимость услуг</h2>
            </div>
            <div class="modal__text">
                <h3 class="modal__text__tit">"В ожидании. Экспресс"</h3>
                <ul class="modal__service">
                    <li class="modal__service__tit">10 фотографий в авторской и художественной обработке (ретуши)</li>
                    <li class="modal__service__tit">адаптированные копии для публикации в соц.сетях и др. месседжерах</li>
                    <li class="modal__service__tit">передачу фото через файлообменник</li>
                    <li class="modal__service__tit">срок готовности до 2-х недель</li>
                </ul>
                <h3 class="modal__price">Стоимость (Барановичи/Жлобин):</h3>
                <p class="modal__price__amount"><b>100 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>130 бел.руб</b> - конфидициональная съёмка</p>
                <h3 class="modal__price">Стоимость (Минск):</h3>
                <p class="modal__price__amount"><b>150 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>180 бел.руб</b> - конфидициональная съёмка</p>

                <h3 class="modal__text__tit">"В ожидании. Базовый"</h3>
                <ul class="modal__service">
                    <li class="modal__service__tit">15 фотографий в авторской и художественной обработке (ретуши)</li>
                    <li class="modal__service__tit">адаптированные копии для публикации в соц.сетях и др. месседжерах</li>
                    <li class="modal__service__tit">20 фотографий в первичной обработке и цветокоррекции</li>
                    <li class="modal__service__tit">передачу фото через файлообменник</li>
                    <li class="modal__service__tit">срок готовности до 4-х недель</li>
                </ul>
                <h3 class="modal__price">Стоимость (Барановичи/Жлобин):</h3>
                <p class="modal__price__amount"><b>150 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>180 бел.руб</b> - конфидициональная съёмка</p>
                <h3 class="modal__price">Стоимость (Минск):</h3>
                <p class="modal__price__amount"><b>200 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>230 бел.руб</b> - конфидициональная съёмка</p>

                <h3 class="modal__text__tit">"В ожидании. Стандарт"</h3>
                <ul class="modal__service">
                    <li class="modal__service__tit">20 фотографий в авторской и художественной обработке (ретуши)</li>
                    <li class="modal__service__tit">адаптированные копии для публикации в соц.сетях и др. месседжерах</li>
                    <li class="modal__service__tit">ВСЕ удачные фотографии в первичной обработке и цветокоррекции</li>
                    <li class="modal__service__tit">запись фотографий на flash-карту</li>
                    <li class="modal__service__tit">печать 5 фотографий форматом 21х15 см</li>
                    <li class="modal__service__tit">фотокнигу 30х20 см либо 26х26 на 10 разворотов в глянцевой обложке с матовой печатью</li>
                    <li class="modal__service__tit">срок готовности до 6-и недель</li>
                </ul>
                <h3 class="modal__price">Стоимость (Барановичи/Жлобин):</h3>
                <p class="modal__price__amount"><b>300 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>330 бел.руб</b> - конфидициональная съёмка</p>
                <h3 class="modal__price">Стоимость (Минск):</h3>
                <p class="modal__price__amount"><b>350 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>380 бел.руб</b> - конфидициональная съёмка</p>

                <h3 class="modal__text__tit">"В ожидании. Премиум"</h3>
                <ul class="modal__service">
                    <li class="modal__service__tit">35 фотографий в авторской и художественной обработке (ретуши)</li>
                    <li class="modal__service__tit">адаптированные копии для публикации в соц.сетях и др. месседжерах</li>
                    <li class="modal__service__tit">ВСЕ удачные фотографии в первичной обработке и цветокоррекции</li>
                    <li class="modal__service__tit">запись фотографий на flash-карту</li>
                    <li class="modal__service__tit">печать 10 фотографий форматом 21х15 см</li>
                    <li class="modal__service__tit">оформление 1 фото в рамку</li>
                    <li class="modal__service__tit">фотокнигу 30х20 см либо 26х26 на 15 разворотов в глянцевой обложке с матовой печатью</li>
                    <li class="modal__service__tit">срок готовности до 6-и недель</li>
                </ul>
                <h3 class="modal__price">Стоимость (Барановичи/Жлобин):</h3>
                <p class="modal__price__amount"><b>550 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>580 бел.руб</b> - конфидициональная съёмка</p>
                <h3 class="modal__price">Стоимость (Минск):</h3>
                <p class="modal__price__amount"><b>600 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>630 бел.руб</b> - конфидициональная съёмка</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Закрыть окно</button>
            </div>

        </div><!--modal-content -->
    </div><!-- /.modal-dialog -->
</div> <!-- /.modal -->

<div class="modal fade" id="request-modal-portrait" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="modal__close" data-dismiss="modal" aria-label="Close">
                <svg class="modal__close-icon">
                    <use xlink:href="#close"></use>
                </svg>
            </button>
            <div class="modal__title">
                <h2>"Индивидуальная съёмка". Стоимость услуг</h2>
            </div>
            <div class="modal__text">
                <h3 class="modal__text__tit">"Индивидуальная съёмка. Экспресс"</h3>
                <ul class="modal__service">
                    <li class="modal__service__tit">10 фотографий в авторской и художественной обработке (ретуши)</li>
                    <li class="modal__service__tit">адаптированные копии для публикации в соц.сетях и др. месседжерах</li>
                    <li class="modal__service__tit">передачу фото через файлообменник</li>
                    <li class="modal__service__tit">срок готовности до 2-х недель</li>
                </ul>
                <h3 class="modal__price">Стоимость (Барановичи/Жлобин):</h3>
                <p class="modal__price__amount"><b>100 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>130 бел.руб</b> - конфидициональная съёмка</p>
                <h3 class="modal__price">Стоимость (Минск):</h3>
                <p class="modal__price__amount"><b>150 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>180 бел.руб</b> - конфидициональная съёмка</p>

                <h3 class="modal__text__tit">"Индивидуальная съёмка. Базовый"</h3>
                <ul class="modal__service">
                    <li class="modal__service__tit">15 фотографий в авторской и художественной обработке (ретуши)</li>
                    <li class="modal__service__tit">адаптированные копии для публикации в соц.сетях и др. месседжерах</li>
                    <li class="modal__service__tit">20 фотографий в первичной обработке и цветокоррекции</li>
                    <li class="modal__service__tit">передачу фото через файлообменник</li>
                    <li class="modal__service__tit">срок готовности до 4-х недель</li>
                </ul>
                <h3 class="modal__price">Стоимость (Барановичи/Жлобин):</h3>
                <p class="modal__price__amount"><b>150 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>180 бел.руб</b> - конфидициональная съёмка</p>
                <h3 class="modal__price">Стоимость (Минск):</h3>
                <p class="modal__price__amount"><b>200 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>230 бел.руб</b> - конфидициональная съёмка</p>

                <h3 class="modal__text__tit">"Индивидуальная съёмка. Стандарт"</h3>
                <ul class="modal__service">
                    <li class="modal__service__tit">20 фотографий в авторской и художественной обработке (ретуши)</li>
                    <li class="modal__service__tit">адаптированные копии для публикации в соц.сетях и др. месседжерах</li>
                    <li class="modal__service__tit">ВСЕ удачные фотографии в первичной обработке и цветокоррекции</li>
                    <li class="modal__service__tit">запись фотографий на flash-карту</li>
                    <li class="modal__service__tit">печать 5 фотографий форматом 21х15 см</li>
                    <li class="modal__service__tit">фотокнигу 30х20 см либо 26х26 на 10 разворотов в глянцевой обложке с матовой печатью</li>
                    <li class="modal__service__tit">срок готовности до 6-и недель</li>
                </ul>
                <h3 class="modal__price">Стоимость (Барановичи/Жлобин):</h3>
                <p class="modal__price__amount"><b>300 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>330 бел.руб</b> - конфидициональная съёмка</p>
                <h3 class="modal__price">Стоимость (Минск):</h3>
                <p class="modal__price__amount"><b>350 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>380 бел.руб</b> - конфидициональная съёмка</p>

                <h3 class="modal__text__tit">"Индивидуальная съёмка. Премиум"</h3>
                <ul class="modal__service">
                    <li class="modal__service__tit">35 фотографий в авторской и художественной обработке (ретуши)</li>
                    <li class="modal__service__tit">адаптированные копии для публикации в соц.сетях и др. месседжерах</li>
                    <li class="modal__service__tit">ВСЕ удачные фотографии в первичной обработке и цветокоррекции</li>
                    <li class="modal__service__tit">запись фотографий на flash-карту</li>
                    <li class="modal__service__tit">печать 10 фотографий форматом 21х15 см</li>
                    <li class="modal__service__tit">оформление 1 фото в рамку</li>
                    <li class="modal__service__tit">фотокнигу 30х20 см либо 26х26 на 15 разворотов в глянцевой обложке с матовой печатью</li>
                    <li class="modal__service__tit">срок готовности до 6-и недель</li>
                </ul>
                <h3 class="modal__price">Стоимость (Барановичи/Жлобин):</h3>
                <p class="modal__price__amount"><b>550 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>580 бел.руб</b> - конфидициональная съёмка</p>
                <h3 class="modal__price">Стоимость (Минск):</h3>
                <p class="modal__price__amount"><b>600 бел.руб</b> - с разрешением на публикацию в соц.сетях</p>
                <p class="modal__price__amount"><b>630 бел.руб</b> - конфидициональная съёмка</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Закрыть окно</button>
            </div>

        </div><!--modal-content -->
    </div><!-- /.modal-dialog -->
</div> <!-- /.modal -->