<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a href="index.html" class="header__logo">
                    <img src="../assets/img/Logo.png" alt="logo">
                </a>
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li>
                            <a href="index.html" class="header__link">Обо мне</a>
                        </li>
                        <li>
                            <a href="services.html" class="header__link">Услуги</a>
                        </li>
                        <li>
                            <a href="portfolio.html" class="header__link">Портфолио</a>
                        </li>
                        <li>
                            <a href="books.html" class="header__link">Фотокниги</a>
                        </li>
                        <li>
                            <a href="#" class="header__link">Блог</a>
                        </li>
                        <li>
                            <a href="#" class="header__link">Проекты</a>
                        </li>
                        <li>
                            <a href="#" class="header__link">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</div>
