<div class="container">
    <div class="social">
        <div class="social__text">Мои соцсети:</div>
        <a class="social__link" href="https://vk.com/chadofoto_pashkevich" target="_blank">
            <svg class="social__icon">
                <use xlink:href="#vk"></use>
            </svg>
        </a>

        <a class="social__link" href="https://www.instagram.com/chadofoto_pashkevich/?hl=ru" target="_blank">
            <svg class="social__icon social__icon--gh">
                <use xlink:href="#instagram"></use>
            </svg>
        </a>

        <a class="social__link" href="https://www.youtube.com/channel/UCLnVbR7uNMzksvsJrZeQ4lw?view_as=subscriber" target="_blank">
            <svg class="social__icon social__icon--ln">
                <use xlink:href="#youtube"></use>
            </svg>
        </a>

        <a class="social__link" href="https://www.facebook.com/profile.php?id=100028398070589" target="_blank">
            <svg class="social__icon social__icon--ln">
                <use xlink:href="#facebook"></use>
            </svg>
        </a>

        <a class="social__link" href="https://www.whatsapp.com/" target="_blank">
            <svg class="social__icon social__icon--ln">
                <use xlink:href="#watsApp"></use>
            </svg>
        </a>
    </div>
</div>